.footer {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  overflow: hidden;
}
.footer__background {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: #6d6dff;
  filter: blur(200px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}
.footer__content {
  position: relative;
  z-index: 1;
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
}
.footer__title {
  margin: 0 0 20px 0;
  font-family: "Archivo Black";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.1;
  color: #ffffff;
}
.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.footer__contact {
  text-decoration: none;
  max-width: 194px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  color: #6d6dff;
}
.footer__social {
  display: flex;
  gap: 80px;
}
.footer__icon {
  max-width: 24px;
  height: 24px;
  object-fit: contain;
}

.footer__contact:hover {
  opacity: 0.5;
}
.footer__link:hover {
  opacity: 0.5;
}
/* Tablet */
@media screen and (max-width: 1023px) {
  .footer {
    padding-top: 80px;
  }
}
/*mobile */
@media screen and (max-width: 767px) {
  .footer {
    padding-top: 60px;
  }
  .footer__title {
    font-size: 28px;
  }
  .footer__social {
    gap: 40px;
  }
}
