.nav {
  position: relative;
  margin: 0;
  padding: 0;
}
.nav__links {
  display: flex;
  list-style-type: none;
  gap: 30px;
  align-items: center;
  margin: 0;
  padding: 0;
}
.nav__link {
  position: relative;
  text-decoration: none;
  max-width: 88px;
  width: 100%;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.39;
  color: #ffffff;
}
.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 5px;
  background: linear-gradient(90deg, #4c1a97 0%, #6d6dff 100%);
}
.nav__link:hover {
  color: rgba(255, 255, 255, 0.5);
}
/* Mobile */
@media screen and (max-width: 320px) {
  .nav__links {
    align-items: flex-start;
    flex-direction: column;
    gap: 25px;
  }
}
